@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&family=Hammersmith+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background: #FFE6C2;
    color: #191919;
    font-family: 'Hammersmith One', sans-serif;
}

.container {
    max-width: 320px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

nav {
    display: flex;

}

#logo {
    width: 15vw;
    margin: 0 auto;
}

.numbers {
    font-family: 'Geologica', sans-serif;
}