@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&family=Hammersmith+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-size: 16px;
    background: #FFE6C2;
    color: #191919;
    font-family: 'Hammersmith One', sans-serif;
    overflow: hidden;
}

a {
    color: #94754a;
}

.numbers {
    font-family: 'Geologica', sans-serif;
}

p {
    font-size: 1.25em;
}

/* Modal Pop-up */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.85);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    align-items: center;
}

.modal-wrapper {
    max-width: 310px;
    margin: 0 auto;
    text-align: center;
    background-color: #EDE7D9;
    border-radius: 10px;
    box-shadow: 0px 1px 8px #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#modal-header img {
    width: 50px;
    margin: 10px auto;
}

#modal-header p {
    font-size: 1em;
}

label, input, .btn{
    font-size: 1.25em;
}

input, .btn {
    width: 100%;
    padding: 10px;
    text-align: center;    
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 1px;
    border: 0px;
    border-radius: 5px;
}

input {
    margin: 10px auto;
}

.btn {
    margin: 2px auto;
    background: #c86b0c;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
}

hr {
    border: 1px dashed #b6ab93;
}

#modal-2, #modal-3 {
    display: none;
}

.container {
    max-width: 360px;
    height: 90vh;
    max-height: 895px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    position: relative;
}

#logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

/* Mobile Menu */ 

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}
  
ul a {    
    font-size: 1.25em;
    text-decoration: none;
}
  
li {
    margin: 0px 5px;
}
  
#menu {
    cursor: pointer;
    float: right;
}
  
.bar {
    width: 35px;
    height: 3px;
    background-color: #191919;
    border-radius: 100px;
    margin: 6px 0;
    transition: 0.4s;    
}


.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#menu-bar {
    z-index: 99999 !important;
}

.mobile-menu li {
    margin-bottom: 10px;
    padding: 5px;
}

#menu {
    display: flex;
}

#menu-footer {
    margin: 45px auto;
    font-size: 12px;
    text-align: center;
}


/* Score Section */
#score {
    display: flex;
    flex-direction: column;
    align-items: center;   
} 

.team-name {
    font-size: 3em;
}


.slider {
    width: 100%;
    overflow: hidden;
  }
  
.slides {
    display: flex;
    text-align: center;
} 

.slide {
    display: none;
    width: 100%;
    height: 300px;
}
  
.pagination {
    text-align: center;
    margin-top: 10px;
}
  
.dot {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 2px solid #191919;
    border-radius: 50%;
    background-color: #FFE6C2;
    margin: 10px 5px 20px 5px;
    cursor: pointer;
}
  
.dot.active {
    background-color: #191919;
}
 

.points {
    font-size: 15em;
    line-height: .9em;
}


/* Count Section */
#count-container{
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.count-img {
    width: 28px;
    height: 28px;
}

#inning {
    justify-content: flex;
    gap: .5em;
}

.count-wrapper{
    justify-content: space-around;
    align-items: flex-start;    
}

#inning, .count-wrapper {
    width: 320px;
    max-width: 375px;
    display: flex;
    padding: 15px;
    /* border-top: 1px solid #191919;
    border-left: 1px solid #191919;
    border-right: 1px solid #191919; */
}

#inning span {
    font-size: 1em;
}

#inning-arrows, #inning-plus-minus {
    display: flex;
    height: 30px;
    align-items: center;
}

#inning-plus-minus {
    gap: 1.25em;
    margin: 0 0 0 48px;
}

.count-wrapper {
    border-top: 1px solid #191919;  
    text-align: center;  
}

.count {
    margin: 0 30px;
}

.count-dots {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #191919;
    border-radius: 50%;
}

.count-dots-active {
    background-color: #191919;
}

.dot-wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5em;
}



